*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: black;
}
a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
}